<a href="https://colab.research.google.com/github/imsang27/Python/blob/main/2022_03_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = "Hello, 'World'"
b = 'Helo. "World"'

print(a)
print(b)

Hello, 'World'
Helo. "World"

In [5]:
a = 1  #정수형
b = 2  #정수형
print(a, b)

1 2

In [6]:
a = 1.5  #실수형
b = 3.5  #실수형
print(a, b)

1.5 3.5

In [7]:
a = "ABC"     #문자형
b = "101010"  #문자형
print(a, b)

ABC 101010

In [11]:
a = True   #불린형
b = False  #불린형
print(a, b)

True False

In [15]:
25 + 3
30 - 12
50 * 3
30 / 5

6.0

In [27]:
print(7 // 2) #몫
print( 7 %  2) #나머지

3
1

In [33]:
a = 10
print(a)

10

In [38]:
a = int(10.3)
b = int(10.7)
print(a, b)

10 10

In [44]:
print(1 == True)
print(1 == False)
print(0 == True)
print(0 == False)

True
False
False
True

In [47]:
a = "76.3"
a = float(a)
b = a

In [51]:
a = "76.3"
a = float(a)
a = str(a)
b = str(b)
print(a + b)

76.376.3

In [82]:
a = 20.5
a = str(int(a))*2
b = '년, "COVID"확산의 해로 기록되갰죠'
print(a+b)

2020년, "COVID"확산의 해로 기록되갰죠

In [87]:
print("Enter your Name : ")
name = input()
print(name + ", Welecome to Sunmoon University")

Enter your Name :
임상혁
임상혁, Welecome to Sunmoon University

In [88]:
name = input("Enter your Name : ")
print(name + ", Welecome to Sunmoon University")

Enter your Name : 임상혁
임상혁, Welecome to Sunmoon University

In [94]:
temp = float(input("온도를 입력하세요. (기준 ℃)"))
print(temp)

온도를 입력하세요. (기준 ℃)36.5
36.5