<a href="https://colab.research.google.com/github/imsang27/Python/blob/main/2022_05_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#       김대한  김민국  김선문  김한국  감무궁
# 수학    55      30      85      70      90
# 영어    65      65      86      79     100
# 국어    80      90     100      71      62

name = ['김대한', '김민국', '김선문', '김한국', '김무궁']
math = [55, 30, 85, 70, 90]
eng  = [74, 65, 86, 79, 100]
kor  = [80, 90, 100, 71, 62]
mid_term = [math, eng, kor]
std_scores = [0] * len(name)
# total = 0
# aver = 0

for i in range(len(mid_term)):
  for j in range(len(mid_term[i])):
    std_scores[j] += mid_term[i][j]

for i in range(len(mid_term)):
  print(f'{name[i]} --> [총점] : {std_scores[i]}, 평균 : {(round(std_scores[i] / len(mid_term), 2))}')

# print(f'{name} --> [총점]: {total}, [평균]: {aver}')

김대한 --> [총점] : 209, 평균 : 69.67
김민국 --> [총점] : 185, 평균 : 61.67
김선문 --> [총점] : 271, 평균 : 90.33

In [18]:
def func_name(p, a, r, a_, m, e, t, e_, r_): # paramiter(파라미터) = 매개변수
  
  return;

[[['aaaaa', 'aaaaa', 'aaaaa', 'aaaaa', 'aaaaa'], 'ㅠㅠㅠㅠㅠ', 'ㅠㅠㅠㅠㅠ', 'ㅠㅠㅠㅠㅠ', 'ㅠㅠㅠㅠㅠ', 'ㅠㅠㅠㅠㅠ']]